body {
    color: #cccccc;
    font-family: Monospace;
    font-size: 13px;
    background-color: #ffffff;
    margin: 0px;
    overflow: hidden;

    #container {
        position: relative;
        
        #canvas3d, #info {
            position: absolute;
        }
    }
}
 